@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input, textarea, select {
  @apply border border-2 border-gray-300 rounded-md px-2 w-full ;
  @apply mb-2;
}

input, textarea, select {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

h1{
  @apply text-blue-900 text-xl mb-2;
}

label{
  @apply text-blue-900 text-xl;
}

.btn-primary{
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic{
  @apply w-full mt-4;
}

table.basic thead tr td{
  @apply bg-blue-100 text-left;
}
table.basic tr td{
  @apply border border-blue-200 p-1 text-left font-medium;
}

table.basic a{
  @apply bg-blue-900 font-normal text-white px-2 py-1 rounded-md inline-flex gap-1 mr-1;
}

.btn-red, .btn-default{
  @apply px-4 py-1 rounded-md text-white;
}
.btn-red{
  @apply bg-red-800;
}

.btn-default{
  @apply bg-gray-500;
}